# Credentials for the target host
SSH_PASSWORD=your-ssh-password
SSH_PUBLIC_KEY=your-ssh-public-key

# To use a local private key (overrides Bitwarden)
SSH_KEY=

# To use Bitwarden Secrets Manager (leave SSH_KEY empty)
BWS_ACCESS_TOKEN=your-bitwarden-project-token
SSH_KEY_SECRET_ID=your-bitwarden-secret-uuid